@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/cartoon-free');

:root {
    --background: #7f5370;
    --lightText: #F4DECB;
    --darkText: #bd943b;
    --lightAccents: #8b606af6;
    --lightAccents2: #c3af84;
    --lightAccents3: #bea0a7f6;
}

* {
    margin: 0;
    padding: 0;
    position: relative;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 10vmin;
    z-index: 10000;
    color: var(--lightText);
    background-color: var(--background);
}

.logo {
    padding-left: 2vw;
    font-family: "Cedarville Cursive";
    font-size: max(4vmin, 1.5rem);
} 

.socials a :hover {
    color: #d0bdad;
  }