

.section1 {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55vh;
    margin-top: 12vmin;
    z-index: 1000; 
    min-height: 330px;
}

@media (max-width: 1000px) {
    .body {
        height: 42vh;
    }
}
@media (max-width: 700px) {
    .body {
        height: 65vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}

@media (max-width: 500px) {
    .body {
        height: 50vh;

    }
}

.body-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
    flex: 3;
}
@media (max-width: 700px) {
    .body-text {
       flex: 2;
    }
    .body-text {
        align-items: end;
    }
}


.lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: last baseline;
    width: fit-content;
}

@media (max-width: 1100px) and (min-width: 700px) {
    .lines {
        margin-left: 4rem;
    }
    
}

.socials {
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
}

.socials a {
    height: 3vh;
    min-height: 1.5rem;
    padding-right: min(3rem, 5vw);
}

.photo {
    position: relative;
    width: 80%;
    flex: 2;
    display: flex;
 }

 @media (max-width: 1000px) {
    .photo {
        justify-content: last baseline;
        align-items: center;
        margin-left: 15vw;
    }
    
 }
 @media (max-width: 500px) {
    .photo {
        margin-top: 2rem;
        align-items: flex-start;
        flex: 1;    
    }
    
 }


 #headshot {
    position: relative;
    height: 20rem
 }

 @media (max-width: 1000px) {
    #headshot {
        height: 15rem;
    }
    
 }
 @media (max-width: 500px) {
    #headshot {
        height: 10rem;
    }
    
 }


#firstline {
    font-family: "Roboto";
    width: 100%;
    align-content: end;
    font-weight: 500;
    letter-spacing: 1rem;
    font-size: clamp(1.6rem, 5vw, 3.5rem);
    color: var(--lightText);
    display: flex;
    align-items:baseline;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (max-height: 800px) and (min-width: 800px) {
    #firstline {
        font-size: 2.5rem;
    }
}

@media (max-width: 700px) {
    #firstline {
        letter-spacing: clamp(0.6rem, 1vw, 0.8rem);
        font-size: clamp(1.2rem, 6vw, 2.7rem);
    }
}



#secondline{
    font-family:'CARTOON FREE';
    font-weight: 600;
    width: 100%;
    font-size: clamp(2.8rem, 11vw, 7rem);
    color: var(--darkText);
    text-shadow: 
    2px 2px 0px rgba(0, 0, 0, 0.7), /* bottom-right */
    -2px -2px 0px rgba(0, 0, 0, 0.7), /* top-left */
    2px -2px 0px rgba(0, 0, 0, 0.7), /* top-right */
    -2px 2px 0px rgba(0, 0, 0, 0.7); /* bottom-left */
}

@media (max-height: 800px) and (min-width: 800px){
    #secondline {
        font-size: 5.5rem;
    }
}

@media (min-width: 1200px){
    #secondline {
        font-size: 8rem;
    }
}

@media (max-width: 700px) {
    #secondline {
        font-size: clamp(2.8rem, 14vw, 7rem);
        text-shadow: 
        1px 1px 0px rgba(0, 0, 0, 0.7), /* bottom-right */
        -1px -1px 0px rgba(0, 0, 0, 0.7), /* top-left */
        1px -1px 0px rgba(0, 0, 0, 0.7), /* top-right */
        -1px 1px 0px rgba(0, 0, 0, 0.7); /* bottom-left */
    }
}





#thirdline {
    font-family:"Roboto";
    width: 100%;
    font-size: 100%;
    align-content: end;
    line-height: clamp(0.9rem, 3vw, 2rem);
    padding-top: 0.5vh;
    font-size: clamp(0.8rem, 2.5vw, 1.5rem);
    color: var(--lightText);
}
@media (max-height: 800px) and (min-width: 800px){
    #thirdline {
        font-size: 1rem;
        line-height: 1.2rem;
    }
}

@media (max-width: 700px){
    #thirdline {
        font-size: clamp(0.8rem, 3vw, 2rem);
        line-height: clamp(0.9rem, 4vw, 2.5rem);
    }
}




.plane-animation{
    height: 39vh;
    display: felx;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

@media (max-width: 700px) {
    .plane-animation {
        height: 35vh;
    }
}

.plane1-container {
    height: 13vh;
    background-color: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plane3-container {
    height: 13vh;
    background-color: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
}

.plane1 {
    height: 100%;
    width: 10%;
    right: 100%;
    top: 50%;
    animation: moveLeftRightWave 12s linear infinite;
    background-color: none;
    position: absolute;
    transform: translateY(-50%); /* Vertically center the plane */
    align-items: center;
    display: flex;
    justify-content: left;
}

#plane1 {
    height: 100%;
    position: relative;
}
@media (max-width: 1050px) {
    #plane1 {
        height: 80%
    }
}
@media (max-width: 800px) {
    #plane1 {
        height: 70%
    }
}

@media (max-width: 500px) {
    #plane1 {
        height: 50%
    }
}



.plane3 {
    height: 100%;
    width: 10%;
    right: 100%;
    top: 50%;
    animation: moveLefttWave 12s linear infinite;
    background-color: none;
    position: absolute;
    transform: translateY(-50%); /* Vertically center the plane */
    align-items: first baseline;
    display: flex;
    justify-content: left;
}

#plane3 {
    height: 100%;
    position: relative;
}
@media (max-width: 1050px) {
    #plane3 {
        height: 80%
    }
}
@media (max-width: 800px) {
    #plane3 {
        height: 70%
    }
}
@media (max-width: 500px) {
    #plane3 {
        height: 50%
    }
}



@keyframes moveLeftRightWave {
    0% {
        right: 90%; /* Off-screen to the right */
        top: 60%; /* Middle of the screen */
    }

    10% {
        right: 80%;
        top: 40%;
    }

    20% {
        right: 60%;
        top: 60%;
    }

    30% {
        right: 40%;
        top: 40%;
    }

    40% {
        right: 20%;
        top: 60%;
    }

    50% {
        right: -5%;
        top: 40%;
    }

    60% {
        right: 20%;
        top: 60%;
    }

    70% {
        right: 40%;
        top: 40%;
    }

    80% {
        right: 60%;
        top: 60%;
    }

    90% {
        right: 80%;
        top: 40%;
    }

    100% {
        right: 90%;
        top: 60%;
    }
}

@keyframes moveLefttWave {
    0% {
        left: 90%; /* Off-screen to the right */
        top: 60%; /* Middle of the screen */
    }

    10% {
        left: 80%;
        top: 40%;
    }

    20% {
        left: 60%;
        top: 60%;
    }

    30% {
        left: 40%;
        top: 40%;
    }

    40% {
        left: 20%;
        top: 60%;
    }

    50% {
        left: -5%;
        top: 40%;
    }

    60% {
        left: 20%;
        top: 60%;
    }

    70% {
        left: 40%;
        top: 40%;
    }

    80% {
        left: 60%;
        top: 60%;
    }

    90% {
        left: 80%;
        top: 40%;
    }

    100% {
        left: 90%;
        top: 60%;
    }
}