@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;

}






  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
  }

.section1{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(36 72 85);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed; /* Keep it fixed at the top */
    top: 0;
    width: 100%;
    max-height: 10vmin;
    z-index: 10000;
    background-color: rgb(36 72 85);
    color: rgb(246, 229, 190);
    
  }

  .logo {
    padding-left: 2vw;
    font-family:"Cedarville Cursive";
    font-size: max(5vmin, 1.5rem);
  }

 .headers {
    display: flex;
    justify-content: end; /* Space out evenly */
    align-items: center;
    font-family: "Roboto";
    padding-left: 5vw;    
 }
 
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55vh;
    margin-top: 12vmin;
    z-index: 1000; 
    min-height: 330px;

    /* background: purple; */
}

@media (max-width: 1000px) {
    .body {
        height: 42vh;
    }
}
@media (max-width: 700px) {
    .body {
        height: 65vh;
        flex-direction: column;
        align-items: center;

    }
}



.body-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
    flex: 3;
    /* background-color: aqua; */
}
/* @media (max-width: 1000px) {
    .body-text {
        align-items: end;
    }
} */




.lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:last baseline;
    width: fit-content; 
    /* background-color: red; */
}

.socials {
    display: flex;
    justify-content:flex-start;
    align-items: last baseline;
    width: fit-content;
}

.socials a {
    height: 3vh;
    min-height: 1.5rem;
    padding-right: min(3.5rem, 6vw);
    padding-bottom: 2vmin;

 }

 .photo {
    /* background-color: red; */
    flex: 2;
 }



#firstline {
    font-family:monospace;
    width: 100%;
    align-content: end;
    font-size: clamp(1.6rem, 5vw, 3.5rem);
    color: rgb(246, 229, 190);
    /* background-color: blueviolet; */
}

@media (max-height: 800px) and (min-width: 800px) {
    #firstline {
        font-size: 2.5rem;
    }
}







#secondline {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: 100%;
    font-size: clamp(2.8rem, 11vw, 7rem);
    color: rgb(233, 118, 103)
    /* background-color: red; */
}
@media (max-height: 800px) and (min-width: 800px){
    #secondline {
        font-size: 5.5rem;
    }
}




#thirdline {
    font-family:"Roboto";
    width: 100%;
    font-size: 100%;
    align-content: end;
    line-height: clamp(0.9rem, 3vw, 2rem);
    padding-top: 0.5vh;
    font-size: clamp(0.8rem, 2.5vw, 1.5rem);
    color: rgb(246, 229, 190);
    /* background-color: pink; */
}
@media (max-height: 800px) and (min-width: 800px){
    #thirdline {
        font-size: 1rem;
        line-height: 1.2rem;
    }
}




.plane-animation{
    height: 39vh;
    display: felx;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

@media (max-width: 700px) {
    .plane-animation {
        height: 26vh;
    }
}

.plane1-container {
    height: 13vh;
    background-color: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plane3-container {
    height: 13vh;
    background-color: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
}

.plane1 {
    height: 100%;
    width: 10%;
    right: 100%;
    top: 50%;
    animation: moveLeftRightWave 12s linear infinite;
    background-color: none;
    position: absolute;
    transform: translateY(-50%); /* Vertically center the plane */
    align-items: center;
    display: flex;
    justify-content: left;
}

#plane1 {
    height: 100%;
    position: relative;
}
@media (max-width: 1050px) {
    #plane1 {
        height: 80%
    }
}
@media (max-width: 800px) {
    #plane1 {
        height: 70%
    }
}
@media (max-width: 600px) {
    #plane1 {
        height: 55%
    }
}

@media (max-width: 420px) {
    #plane1 {
        height: 45%
    }
}



.plane3 {
    height: 100%;
    width: 10%;
    right: 100%;
    top: 50%;
    animation: moveLefttWave 12s linear infinite;
    background-color: none;
    position: absolute;
    transform: translateY(-50%); /* Vertically center the plane */
    align-items: first baseline;
    display: flex;
    justify-content: left;
}

#plane3 {
    height: 100%;
    position: relative;
}
@media (max-width: 1050px) {
    #plane3 {
        height: 80%
    }
}
@media (max-width: 800px) {
    #plane3 {
        height: 70%
    }
}
@media (max-width: 600px) {
    #plane3 {
        height: 55%
    }
}

@media (max-width: 420px) {
    #plane3 {
        height: 45%
    }
}

@keyframes moveLeftRightWave {
    0% {
        right: 90%; /* Off-screen to the right */
        top: 60%; /* Middle of the screen */
    }

    10% {
        right: 80%;
        top: 40%;
    }

    20% {
        right: 60%;
        top: 60%;
    }

    30% {
        right: 40%;
        top: 40%;
    }

    40% {
        right: 20%;
        top: 60%;
    }

    50% {
        right: -5%;
        top: 40%;
    }

    60% {
        right: 20%;
        top: 60%;
    }

    70% {
        right: 40%;
        top: 40%;
    }

    80% {
        right: 60%;
        top: 60%;
    }

    90% {
        right: 80%;
        top: 40%;
    }

    100% {
        right: 90%;
        top: 60%;
    }
}

@keyframes moveLefttWave {
    0% {
        left: 90%; /* Off-screen to the right */
        top: 60%; /* Middle of the screen */
    }

    10% {
        left: 80%;
        top: 40%;
    }

    20% {
        left: 60%;
        top: 60%;
    }

    30% {
        left: 40%;
        top: 40%;
    }

    40% {
        left: 20%;
        top: 60%;
    }

    50% {
        left: -5%;
        top: 40%;
    }

    60% {
        left: 20%;
        top: 60%;
    }

    70% {
        left: 40%;
        top: 40%;
    }

    80% {
        left: 60%;
        top: 60%;
    }

    90% {
        left: 80%;
        top: 40%;
    }

    100% {
        left: 90%;
        top: 60%;
    }
}




.section2{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.expereince-container {
    height: 100%;
    width: 60%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blueprint {
    background-color: red;
    height:50%;
    width: 100%
}

.hatch {
    background-color: pink;
    height: 50%;
    width: 100%
}