@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/cartoon-free');


:root {
    --background: #DED4e8;  /* Blue */
    --lightText: #c7395f; /* Green */
    --darkText: #e8ba40; /* Light Gray */
    --Accents: #000000; /* Dark Gray */
    --boxes:
  }

* {
    margin: 0;
    padding: 0;

}


  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    background-color: var(--background);

  }

.section1{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed; /* Keep it fixed at the top */
    top: 0;
    width: 100%;
    max-height: 10vmin;
    z-index: 10000;
    background-color: var(--background); 
    color: var(--lightText);
    
  }

  .logo {
    padding-left: 2vw;
    font-family:"Cedarville Cursive";
    font-size: max(4vmin, 1.5rem);
  }

 .headers {
    display: flex;
    justify-content: end; /* Space out evenly */
    align-items: center;
    font-family: "Roboto";
    padding-left: 5vw;    
 }
 
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55vh;
    margin-top: 12vmin;
    z-index: 1000; 
    min-height: 330px;

    /* background: purple; */
}

@media (max-width: 1000px) {
    .body {
        height: 42vh;
    }
}
@media (max-width: 700px) {
    .body {
        height: 65vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}



.body-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
    flex: 3;
    /* background-color: aqua; */
}
@media (max-width: 700px) {
    .body-text {
       flex: 2;
    }
}




.lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:last baseline;
    width: fit-content; 
    /* background-color: red; */
}
@media (max-width: 1100px) and (min-width: 700px) {
    .lines {
        margin-left: 4rem;
    }
    
}

.socials {
    display: flex;
    justify-content:flex-start;
    align-items: last baseline;
    width: fit-content;
}

.socials a {
    height: 3vh;
    min-height: 1.5rem;
    padding-right: min(3.5rem, 6vw);
    padding-bottom: 2vmin;

 }

 .photo {
    position: relative;
    width: 80%;
    flex: 2;
    display: flex;
    justify-content: center;
 }

 #headshot {
    position: relative;
    height: 20rem
 }

 @media (max-width: 1000px) {
    #headshot {
        height: 15rem;
    }
    
 }

 



#firstline {
    font-family: "Roboto";
    width: 100%;
    align-content: end;
    font-weight: 500;
    letter-spacing: 1rem;
    font-size: clamp(1.6rem, 5vw, 3.5rem);
    color: var(--lightText);
    /* background-color: blueviolet; */
}

@media (max-height: 800px) and (min-width: 800px) {
    #firstline {
        font-size: 2.5rem;
    }
}

@media (max-width: 700px) {
    #firstline {
        letter-spacing: clamp(0.6rem, 1vw, 0.8rem);
        font-size: clamp(1.2rem, 5vw, 2rem);
    }
}



#secondline{
    font-family:'CARTOON FREE';
    font-weight: 600;
    width: 100%;
    font-size: clamp(2.8rem, 11vw, 7rem);
    color: var(--darkText);
    text-shadow: 
    2px 2px 0px rgba(0, 0, 0, 0.7), /* bottom-right */
    -2px -2px 0px rgba(0, 0, 0, 0.7), /* top-left */
    2px -2px 0px rgba(0, 0, 0, 0.7), /* top-right */
    -2px 2px 0px rgba(0, 0, 0, 0.7); /* bottom-left */
    /* background-color: red; */
}

@media (max-height: 800px) and (min-width: 800px){
    #secondline {
        font-size: 5.5rem;
    }
}

@media (min-width: 1200px){
    #secondline {
        font-size: 8rem;
    }
}

@media (max-width: 700px) {
    #secondline {
        font-size: clamp(2.8rem, 14vw, 7rem);
    }
}





#thirdline {
    font-family:"Roboto";
    width: 100%;
    font-size: 100%;
    align-content: end;
    line-height: clamp(0.9rem, 3vw, 2rem);
    padding-top: 0.5vh;
    font-size: clamp(0.8rem, 2.5vw, 1.5rem);
    color: var(--lightText);
}
@media (max-height: 800px) and (min-width: 800px){
    #thirdline {
        font-size: 1rem;
        line-height: 1.2rem;
    }
}




.plane-animation{
    height: 39vh;
    display: felx;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

@media (max-width: 700px) {
    .plane-animation {
        height: 26vh;
    }
}

.plane1-container {
    height: 13vh;
    background-color: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plane3-container {
    height: 13vh;
    background-color: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
}

.plane1 {
    height: 100%;
    width: 10%;
    right: 100%;
    top: 50%;
    animation: moveLeftRightWave 12s linear infinite;
    background-color: none;
    position: absolute;
    transform: translateY(-50%); /* Vertically center the plane */
    align-items: center;
    display: flex;
    justify-content: left;
}

#plane1 {
    height: 100%;
    position: relative;
}
@media (max-width: 1050px) {
    #plane1 {
        height: 80%
    }
}
@media (max-width: 800px) {
    #plane1 {
        height: 70%
    }
}
@media (max-width: 600px) {
    #plane1 {
        height: 55%
    }
}

@media (max-width: 420px) {
    #plane1 {
        height: 45%
    }
}



.plane3 {
    height: 100%;
    width: 10%;
    right: 100%;
    top: 50%;
    animation: moveLefttWave 12s linear infinite;
    background-color: none;
    position: absolute;
    transform: translateY(-50%); /* Vertically center the plane */
    align-items: first baseline;
    display: flex;
    justify-content: left;
}

#plane3 {
    height: 100%;
    position: relative;
}
@media (max-width: 1050px) {
    #plane3 {
        height: 80%
    }
}
@media (max-width: 800px) {
    #plane3 {
        height: 70%
    }
}
@media (max-width: 600px) {
    #plane3 {
        height: 55%
    }
}

@media (max-width: 420px) {
    #plane3 {
        height: 45%
    }
}

@keyframes moveLeftRightWave {
    0% {
        right: 90%; /* Off-screen to the right */
        top: 60%; /* Middle of the screen */
    }

    10% {
        right: 80%;
        top: 40%;
    }

    20% {
        right: 60%;
        top: 60%;
    }

    30% {
        right: 40%;
        top: 40%;
    }

    40% {
        right: 20%;
        top: 60%;
    }

    50% {
        right: -5%;
        top: 40%;
    }

    60% {
        right: 20%;
        top: 60%;
    }

    70% {
        right: 40%;
        top: 40%;
    }

    80% {
        right: 60%;
        top: 60%;
    }

    90% {
        right: 80%;
        top: 40%;
    }

    100% {
        right: 90%;
        top: 60%;
    }
}

@keyframes moveLefttWave {
    0% {
        left: 90%; /* Off-screen to the right */
        top: 60%; /* Middle of the screen */
    }

    10% {
        left: 80%;
        top: 40%;
    }

    20% {
        left: 60%;
        top: 60%;
    }

    30% {
        left: 40%;
        top: 40%;
    }

    40% {
        left: 20%;
        top: 60%;
    }

    50% {
        left: -5%;
        top: 40%;
    }

    60% {
        left: 20%;
        top: 60%;
    }

    70% {
        left: 40%;
        top: 40%;
    }

    80% {
        left: 60%;
        top: 60%;
    }

    90% {
        left: 80%;
        top: 40%;
    }

    100% {
        left: 90%;
        top: 60%;
    }
}




.section2{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


.timeline {
    position: relative;
    margin: 20px auto;
    width: 90vw;
    font-family: "Roboto";
}

.container {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
}

.right {
    left: 50%;
}

.left {
    left: 0;
}

.container img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px; 
    z-index: 11;
    background-color: var(--background);

}

.right img {
    left: -20px
}

.animated-div {
    width: 30vw;
    padding: 50px 50px;
    background-color: var(--lightText);;
    color: var(--darkText);
    position: relative;
    border-radius: 6px;
    margin-right: 3rem;
    left: -30%;
    opacity: 20%;
}

.odd {
    left: 30%;
    margin-left: 3rem;
    margin-right: 0;
}

.visible {
    left: 0%;
    opacity: 1;
    transition: left 0.5s linear, opacity 0.5s linear;
}

.animated-div ul li {
    font-family: "Roboto";
    font-size: 20px;
    padding-top: 2rem;

}



.description {
    margin-left: 1rem;
}



.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: var(--lightText);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 0;
}


@media (max-width: 1000px) {
    .animated-div {
        padding: 30px 30px;

    }

    .animated-div ul li {
        font-family: "Roboto";
        font-size: 20px;
    }

}

@media (max-width: 700px) {
    .section2 {
        justify-content: left;
    }
    .timeline {
        margin: 20px auto;
        min-width: 320px;
        font-size: 12px;
    }
    .timeline::after {
        left: 31px;
    }
    .container {
        width: 100%;
        margin-left: 0rem;
        margin-right: 0rem;
        margin-bottom: 3rem;
        left: 0%
    }
    .animated-div {
        width: 80%;
        margin-left: 6rem;
        margin-right: 0;
    }
    .container img {
        left: 10px;
    }

    .animated-div ul li {
        font-family: "Roboto";
        font-size: 15px;
        padding-top: 1rem;
    
    }

}

/* SECTION 3 PROJECTS */

.projects-container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 90vh;
    padding-right: 1rem;
    align-items: center;

}

.project-card {
    display: flex;
    gap: 2rem;
    align-items: center;
    border-radius: 12px;
    padding: 1rem;
    min-height: 15rem;
    position: relative;
    width: 90%;
    justify-content: center;
}

.thumbnail {
    position: relative;
    border-radius: 8px;
    flex: 1.5;
    height: 100%;
}

.description-proj {
    background-color: rgb(42, 88, 105);
    flex: 1;
    height: 100%
}

@media (max-width:800px) {
    .description-proj {
        display: none;
    }
}

.thumbnail img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
    border-radius: 15px;
}


.thumbnail:hover img {
    filter: brightness(50%);
}


.tech-stack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.197);
    font-size: rem;
    text-align: center;
    font-weight: bold;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.tech-stack img {
    width: 50px;
    height: 50px;
    color: white;
}

.thumbnail:hover .tech-stack {
    opacity: 1;
}










