.preloader{
    height: 100%;
    width: 100%;
    background-color: #caa5aff6;
    color: rgb(255, 230, 187);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    bottom: 0;
    left:0;
    right: 0;
    z-index: 100;
    font-size:xx-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    letter-spacing: 5px;
}

@media (max-width: 900px) {
    .preloader {
        font-size: 1.2rem;
    }
}


